@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius-lg: 1.5rem;
    --radius-md: 1rem;
    --radius-sm: 0.25rem;
  }
  body {
    @apply relative w-full min-h-screen h-full bg-grey-2;
  }
  h1 {
    @apply text-[36px] leading-[33px] tracking-[-1px];
  }
  h2 {
    @apply text-[24px] leading-[22px] tracking-[-0.75px] font-bold;
  }
  h3 {
    @apply text-[16px] leading-[24px] tracking-[-0.25px];
  }
  h4 {
    @apply text-[15px] leading-[15px] tracking-[-0.25px];
  }
  p {
    @apply text-[13px] leading-[18px] tracking-[-0.1px];
  }
}

@layer components {
  .flexCenterCenter {
    @apply flex items-center justify-center;
  }
  .footerShadow {
    -webkit-box-shadow: 5px -22px 96px -30px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px -22px 96px -30px rgba(66, 68, 90, 1);
    box-shadow: 5px -22px 96px -30px rgba(66, 68, 90, 1);
  }
}

