@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--radius-lg: 1.5rem;
		--radius-md: 1rem;
		--radius-sm: 0.25rem;
	}

	body {
		@apply relative w-full min-h-screen h-full;
	}
	h1 {
		@apply text-[36px] leading-[33px] tracking-[-1px];
	}
	h2 {
		@apply text-[24px] leading-[22px] tracking-[-0.75px];
	}
	h3 {
		@apply text-[16px] leading-[24px] tracking-[-0.25px];
	}
	h4 {
		@apply text-[15px] leading-[15px] tracking-[-0.25px];
	}
	p {
		@apply text-[13px] leading-[18px] tracking-[-0.1px];
	}
}
